# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Java
*.class

# .NET
bin/
obj/
*.user
*.suo

# Go
go.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Keycloak
keycloak/.env
keycloak/spi/target/
Thumbs.db
